body {
  display: flex
}

.nav-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1;
}

.svg-button {
  width: 90px;
  height: 10%;
  position: absolute; }

a {
  padding-left: 2%; }

.img-container {
  display: flex;
  flex-wrap: wrap; }

.main-container {
  font-family: proxima-soft, sans-serif;
  font-style: italic;
  font-weight: 200;
  display: flex;
  /* flex-flow: column wrap; */
  padding-right: 2%; 
}

.main-img {
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  padding-top: 20%; }

/* .main-word {
  display: flex;
  flex-direction: column;
  justify-content: center; } */

.main-name {
  font-size: 2rem;
  color: #F9BA00;
  text-align: center;
} 

.main-job {
  padding-right: 2%;
} 

.main-container > g {
  position: absolute
}

.color-block {
  background-color: #64a2b3;
  position: relative;
  height: 50rem;
  width: 100vw;
  z-index: -1;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 92%);
  clip-path: ppolygon(0 0, 100% 0, 100% 70%, 0 90%);
}

.portrait {
  background-image: url(https://photos.google.com/photo/AF1QipPmnznbgCA2y0uIIveXkS-unwdObK1RTlwZMlOz);
  height: 20rem;
  width: 20rem;
  border-radius: 10rem
} 

.portrait-container {
  margin: auto;
}

.aboutme-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.aboutme-bio {
  text-align: center;
  margin: 2rem
}

.bio-pic {
  display: flex;
  align-items: center;
  margin: 5rem
}

@media (max-width: 750px) { 

  .bio-pic {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: 5rem
  }
}

.links {
  display: flex;
  justify-content: center;
}

.links div a svg {
  height: 40px;
  width: 80px;
}

.links div {
  margin: 3%;
}

.projects {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

@media (max-width: 930px) { 

  .projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
}

@media (min-width: 1079px){

  .projects {
    display: flex;
    flex-flow: column wrap;
    justify-content: baseline;
    align-items: center;
    /* height: 100%;  */
    width: 50vw;
  }

  .aboutme-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 50vw;
  margin: 0;
}

.proj-about {
  display: flex;
  width: 100%
}

.bio-pic {
  display: flex;
  align-items: center;
  flex-flow: column-reverse;
  margin: 5rem
}

}

.project-container {
  margin: 1%;
  margin-bottom: 5%;
  height: auto;
  box-shadow: 5px 3px 3px  rgb(173, 172, 172);
  overflow: scroll;
  border-radius: 15px;
}

.project-img {
  height: auto;
  width: 250px;
  border-radius: 5px;
}

.project-description > p{
  text-align: center;
  width: 250px;
}